CrazyAuctionsJpaJavaSeClient/xml-resources/web-service-references/PremiumCustomerWebService_1/wsdl/localhost_8080/PremiumCustomerWebService/PremiumCustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="PremiumCustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/PremiumCustomerWebService/PremiumCustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="customerLogin">
<part name="parameters" element="tns:customerLogin"/>
</message>
<message name="customerLoginResponse">
<part name="parameters" element="tns:customerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="viewCreditBalance">
<part name="parameters" element="tns:viewCreditBalance"/>
</message>
<message name="viewCreditBalanceResponse">
<part name="parameters" element="tns:viewCreditBalanceResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="configureProxyBidding">
<part name="parameters" element="tns:configureProxyBidding"/>
</message>
<message name="configureProxyBiddingResponse">
<part name="parameters" element="tns:configureProxyBiddingResponse"/>
</message>
<message name="browseAllAuctionListings">
<part name="parameters" element="tns:browseAllAuctionListings"/>
</message>
<message name="browseAllAuctionListingsResponse">
<part name="parameters" element="tns:browseAllAuctionListingsResponse"/>
</message>
<message name="ListingNotFoundException">
<part name="fault" element="tns:ListingNotFoundException"/>
</message>
<message name="viewAuctionListingDetails">
<part name="parameters" element="tns:viewAuctionListingDetails"/>
</message>
<message name="viewAuctionListingDetailsResponse">
<part name="parameters" element="tns:viewAuctionListingDetailsResponse"/>
</message>
<portType name="PremiumCustomerWebService">
<operation name="customerLogin">
<input wsam:Action="http://ws/PremiumCustomerWebService/customerLoginRequest" message="tns:customerLogin"/>
<output wsam:Action="http://ws/PremiumCustomerWebService/customerLoginResponse" message="tns:customerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws/PremiumCustomerWebService/customerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="viewCreditBalance">
<input wsam:Action="http://ws/PremiumCustomerWebService/viewCreditBalanceRequest" message="tns:viewCreditBalance"/>
<output wsam:Action="http://ws/PremiumCustomerWebService/viewCreditBalanceResponse" message="tns:viewCreditBalanceResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws/PremiumCustomerWebService/viewCreditBalance/Fault/CustomerNotFoundException"/>
</operation>
<operation name="configureProxyBidding">
<input wsam:Action="http://ws/PremiumCustomerWebService/configureProxyBiddingRequest" message="tns:configureProxyBidding"/>
<output wsam:Action="http://ws/PremiumCustomerWebService/configureProxyBiddingResponse" message="tns:configureProxyBiddingResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws/PremiumCustomerWebService/configureProxyBidding/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="browseAllAuctionListings">
<input wsam:Action="http://ws/PremiumCustomerWebService/browseAllAuctionListingsRequest" message="tns:browseAllAuctionListings"/>
<output wsam:Action="http://ws/PremiumCustomerWebService/browseAllAuctionListingsResponse" message="tns:browseAllAuctionListingsResponse"/>
<fault message="tns:ListingNotFoundException" name="ListingNotFoundException" wsam:Action="http://ws/PremiumCustomerWebService/browseAllAuctionListings/Fault/ListingNotFoundException"/>
</operation>
<operation name="viewAuctionListingDetails">
<input wsam:Action="http://ws/PremiumCustomerWebService/viewAuctionListingDetailsRequest" message="tns:viewAuctionListingDetails"/>
<output wsam:Action="http://ws/PremiumCustomerWebService/viewAuctionListingDetailsResponse" message="tns:viewAuctionListingDetailsResponse"/>
<fault message="tns:ListingNotFoundException" name="ListingNotFoundException" wsam:Action="http://ws/PremiumCustomerWebService/viewAuctionListingDetails/Fault/ListingNotFoundException"/>
</operation>
</portType>
<binding name="PremiumCustomerWebServicePortBinding" type="tns:PremiumCustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="customerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="viewCreditBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="configureProxyBidding">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="browseAllAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ListingNotFoundException">
<soap:fault name="ListingNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewAuctionListingDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ListingNotFoundException">
<soap:fault name="ListingNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PremiumCustomerWebService">
<port name="PremiumCustomerWebServicePort" binding="tns:PremiumCustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/PremiumCustomerWebService/PremiumCustomerWebService"/>
</port>
</service>
</definitions>